<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


</head>
<body>
    {% block body %}
<div data-role="page" data-theme="b" id="page">
    <div data-role="header" data-theme="b">
		<h1>Your Order ID</h1>
	</div>
	<br><br><br>
    <div data-role="main" class="ui-content">
            <p>{{ orderid }}</p>
    </div>
    <br>
    <div id ='checkAccept'>
        <p>{{ message }}</p>
    </div>
</div>
<script type='text/javascript'>
        $(document).ready( function(){
            {% if refresh == 1 %}
                $('#checkAccept').load('/checkOrder');
                    refresh();
            {% endif %}
        });
        function refresh()
        {
    		setTimeout( function() {
    		    {% if refresh == 1 %}
            		$('#checkAccept').fadeOut('slow').load('/checkOrder').fadeIn('slow');
                    refresh();
                {% endif %}
    		}, 1000);
    	}
</script>
    {% endblock %}
</body>
</html>