<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" id="page">
    <div data-role="header">
            <h1>Welcome back
                {% block body %}
                    {{user}}
                {% endblock %}
            </h1>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <div data-role="footer" style="overflow:hidden;">
        <h4 style="text-align:center;">What do you want to do?</h4>
        <div data-role="navbar">
            <ul>
                <li><a href='/Order' class="ui-btn-active">Order</a></li>
                <li><a href="#">something</a></li>
                <li><a href="#">My Stats</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>