<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
   <div data-role="page" id="page">
	<div data-role="header">
		<h1>User Login</h1>
	</div>
	 <div data-role="main" class="ui-content">
    <form id='name' action='/checkCredentials' method='POST'>
      <div class="ui-field-contain">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
		<br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
          {% block body %}
            {% if popup == True %}
          <script> alert("Invalid login details"); </script>
            {% endif %}
          {% endblock %}
      </div>
	  <br><br>
      <input type="submit" data-inline="true" value="Login">
    </form>
  </div>
</div>
</body>
</html>